<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :タスク名%>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :詳細 %>
    <%= form.text_field :detail %>
  </div>

  <div class="field">
    <%= form.label :終了期限 %>
    <%= form.date_field :deadline %>
  </div>

  <div class="field">
    <%= form.label :ステータス %>
    <%= form.select :status, [["未着手", "未着手"], ["着手", "着手"], ["完了", "完了"]], include_blank: "選択して下さい" %>
  </div>

  <div class="field">
    <%= form.label :優先度 %>
    <%= form.select :importance, Task.importances.keys, {prompt: "選択してください"} %>
  </div>

  <div class="field">
  <%= form.label :タグ %>
  <%= form.collection_check_boxes(:label_ids, Label.all, :id, :name) %>
  </div>



  <div class="actions">
    <button type="submit" class="btn btn-danger">登録する</button>
  </div>

<% end %>
